<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Welcome to Admin Dashboard</h1>
    <h2>Log Data:</h2>
    <table border="1">
        <tr>
            <th>UUID</th>
            <th>KEY</th>
            <th>TXT</th>
            <th>SESSION</th>
            <th>IPADDR</th>
            <th>APP</th>
            <th>TIME</th>
        </tr>
        {% for log in log_data %}
        <tr>
            <td>{{ log.UUID }}</td>
            <td>{{ log.KEY }}</td>
            <td>{{ log.TXT }}</td>
            <td>{{ log.SESSION }}</td>
            <td>{{ log.IPADDR }}</td>
            <td>{{ log.APP }}</td>
            <td>{{ log.TIME }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
